* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.media-card {
    width: calc(50% - 5px);
}

hr {
    margin-top: 50px;
}

@media (max-width: 600px) {
    .media-card {
        width: 100%;
    }
}